<div class="mapInfo">
  <h1 dir="ltr" class="text-green-600">
    {{name}}
  </h1>
  {{#if superSite}}
    <b class="text-lg supersite-tag">
      {{superSiteLabel}}
    </b>
    <br />
  {{/if}}

  <b>
    {{detailsLabel}}:
  </b>
  <span dir="ltr">{{details}}</span><br />

  {{#if schedulingInstructions}}
    <b>
      {{schedulingInstructionsLabel}}:
    </b>
    <span dir="ltr">{{{schedulingInstructions}}}</span>
    <br />
  {{/if}}

  {{#if address}}
    <b>
      {{addressLabel}}:
    </b>
    <span dir="ltr">{{address}}</span><br />
  {{/if}}

  {{#if reportNotes}}
    <b>
      {{reportNotesLabel}}:
    </b>
    <span dir="ltr">{{reportNotes}}</span><br />
  {{/if}}
</div>
