<li>
  <h3>{{name}}</h3>
  <p>type: {{type}}</p>
  <p>
    <a href="{{infoURL}}">Info</a>
    <a href="{{locationURL}}">Location</a>
    <a href="{{appointmentURL}}">Appointments</a>
  </p>
  notes: {{notes}}
</li>
