<li class="rounded-lg mt-4 shadow">
  <div class="p-2 flex flex-row justify-between items-center border-b border-gray-200">
    <h4 dir="ltr" class="px-2 text-xl font-bold">{{name}}</h3>
    <span class="rounded-full bg-gray-100 px-2">{{type}}</span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 divide-y md:divide-y-0 divide-s-0
              md:divide-s
    gap-1 border-b border-gray-200">
    <div class="p-3 {{#unless infoURL}}hidden md:block{{/unless}}">
      {{#if infoURL}}
        <a href="{{infoURL}}">{{infoLabel}}</a>
      {{/if}}
    </div>
    <div class="p-3 {{#unless locationURL}}hidden md:block{{/unless}}">
      {{#if locationURL}}
        <a href="{{locationURL}}">{{locationLabel}}</a>
      {{/if}}
    </div>
    <div class="p-3 {{#unless appointmentURL}}hidden md:block{{/unless}}">
      {{#if appointmentURL}}
        <a href="{{appointmentURL}}">{{appointmentLabel}}</a>
      {{/if}}
    </div>
  </div>
  <div dir="ltr" class="text-left px-3 pt-3 pb-1">
    {{{notes}}}
  </div>
</li>
