<li class="rounded-lg mt-4 shadow">
  <div class="p-2 flex flex-row justify-between items-center border-b border-gray-200">
    <h4 class="px-2 text-xl font-bold">{{name}}</h3>
    <span class="rounded-full bg-gray-100 px-2">{{type}}</span>
  </div>
  <p>
    <a href="{{infoURL}}">Info</a>
    <a href="{{locationURL}}">Location</a>
    <a href="{{appointmentURL}}">Appointments</a>
  </p>
  notes: {{notes}}
</li>
