<li class="site-card rounded-lg mt-4 pt-4 pb-4 relative grid grid-cols-1
    divide-y border-gray-00" id="{{ id }}">
  <div
    class="px-2 md:px-4 pb-2 flex flex-row space-s-2 justify-between items-center"
  >
    <!-- Name and address -->
    <div class="flex flex-col overflow-hidden">
      <h4 dir="ltr" class="site_title text-lg font-bold leading-6 text-gray-900 truncate mb-1" >
        {{ name }}
      </h4>
      <div class="site_location_info flex flex-row items-center">
        {{#if county}}
        <a
          class="site_county text-sm font-medium hover:underline whitespace-nowrap"
          href="{{ countyLink }}"
          >{{ county }}</a>
        <span class="address_separator px-2" aria-hidden="true">·</span>
        {{/if}}
        {{#if address}}
        <a
          dir="ltr"
          class="site_address text-sm hover:underline truncate"
          target="_blank"
          rel="noreferrer"
          href="{{addressLink}}"
        >{{address}}</a>
        {{/if}}
      </div>
    </div>
    <div class="flex flex-col">
      <!-- Only render the copy button if the site has vaccine because otherwise when the
      link is used the site will be hidden by default -->
      {{#if hasVaccine}}
      <button
        class="site_copy_button not_copied text-xs text-white bg-green-600 hover:bg-green-700 px-2 py-1 mb-1 rounded-full self-end whitespace-nowrap"
        >{{t "site_template.share_link"}}</button>
      {{/if}}
      <!-- Last report on desktop -->
      {{#if hasReport }}
      <div
        class="site_last_report_date text-xs text-black bg-gray-200 px-2 py-1 rounded-full whitespace-nowrap self-end"
        >{{ lastReportTime  }}</div>
      {{/if}}
    </div>
  </div>
  {{#if hasReport}}
    <div class="relative grid grid-cols-12 py-2">
      <div
        class="site_vaccine_status py-2 px-4 h-full text-sm md:text-base
        space-s-2 col-span-12"
      >
        {{#if hasVaccine}}
        <div class="vaccine_available flex flex-row items-center space-s-2">
          <img src="/assets/img/checkmark.svg" />
          <span class="font-sm font-bold text-green-600"
            >{{t "nearest.vaccines_available"}}</span
          >
        </div>
        {{/if}}

        {{#if noVaccine}}
        <div class="vaccine_not_available flex flex-row items-center space-s-2">
          <img src="/assets/img/missing.svg" />
          <span class="font-sm font-bold text-red-500"
            >{{t "nearest.vaccines_not_available"}}</span
          >
        </div>
        {{/if}}

        {{#if unknownVaccine}}
        <div class="vaccine_unknown flex flex-row items-center space-s-2">
          <img src="/assets/img/question_mark.svg" />
          <span class="font-sm font-bold text-gray-400"
            >{{t "nearest.vaccine_unknown"}}</span
          >
        </div>
        {{/if}}
      </div>
    </div>
    {{#if hasVaccine}}
      {{#if restrictions}}
      <div class="py-2 px-4 h-full flex flex-col items-start text-sm">
        {{#each restrictions}}
        <span>{{{this}}}</span>
        {{/each}}
      </div>
      {{/if}}
      {{#if appointmentInfo}}
        <div class="px-4 py-4  border-b border-gray-100 text-sm flex
          flex-col space-y-4">
          <div class="font-bold pe-2 flex flex-row">
            <img class="me-2" src="/assets/img/calendar.svg" />
            {{#if appointmentsAvailable}}
              {{t "site_template.appointments_available" time=appointmentUpdatedAt}}
            {{else}}
              {{t "site_template.appointments_unavailable" time=appointmentUpdatedAt}}
            {{/if}}
          </div>
            {{#if appointmentsAvailable}}
              <div>
                <a class="rounded-full bg-green-600 text-white hover:bg-green-700
                  px-4 py-2" target="_blank" rel="noreferrer noopener nofollow" href="{{appointmentURL}}">{{t "site_template.book_now"}}</a>
              </div>
            {{else}}
              <div>
                <a class="rounded-full bg-gray-400 text-white hover:bg-gray-600
                  px-4 py-2" target="_blank" rel="noreferrer noopener nofollow" href="{{appointmentURL}}">{{t "site_template.check_now"}}</a>
              </div>
            {{/if}}
        </div>
      {{else}}
        {{! Only show this section if we don't have VS data }}
        {{#if appointmentRequired }}
          <div
            class="px-4 py-4 flex flex-row items-center border-b border-gray-100 text-sm"
          >
          <div class="me-2 flex-none"><img src="/assets/img/calendar.svg" /></div>
            <div>
              <span class="font-bold pe-2"
                >{{ appointmentRequiredLabel }}</span
              >
              <span dir="ltr" class="text-black word-break">{{{appointmentInstructions}}}</span>
            </div>
          </div>
        {{/if}}
      {{/if}}
    {{/if}}
    </div>
  {{/if}}
  {{#if providerInfo }}
    <div class="px-4 py-4 text-sm">
      <div class="flex flex-row">
        <span class="font-bold pe-2">{{t "site_template.provider_info"}}</span>
      </div>
      <div dir="ltr" class="text-left word-break">
        {{{ providerInfo }}}
      </div>
    </div>
  {{/if}}
  {{#if hasReport }}
    {{#if notes}}
      <div
        class="site_latest_info px-4 py-4 flex flex-row items-center text-sm"
      >
        <div class="w-full">
          <span class="font-bold pe-2 flex flex-row">
            <img class="inline pe-2" src="/assets/img/info.svg"
                                     /><div>{{t "global.latest_info"}}</div>
          </span>
          <div dir="ltr" class="site_latest_info_details text-left text-black
                        word-break">{{{notes}}}</div>
        </div>
      </div>
    {{/if}}
  {{else}}
    <div class="site_no_report px-2 md:px-4 pt-3">
      {{t "site_template.no_reports"}}
    </div>
  {{/if}}
  {{#if id}}
    {{!--
      Yes, I know I'm writing a `style` tag here. We want to over-write the
      Tailwind separator borders for this ending `<div>` here, but you can only do
      that with a style tag. I'm sorry. Please don't be mad.
    --}}
    <div class="-mb-5 text-xs text-right pt-1 pe-2" style="border-top: 0;">
      <p>
        {{t "site_template.correction" }}
        <a href="https://airtable.com/shrdt7TsVi76kTzYt?prefill_Location+ID={{id}}">
          {{ t "site_template.correction_link" }}
        </a>
      </p>
    </div>
  {{/if}}
</li>
