<li class="site-card rounded-lg mt-4 pt-4 pb-4 relative">
  <div
    class="px-2 md:px-4 pb-2 border-b border-gray-200 flex flex-row space-x-2 justify-between items-center"
  >
    <!-- Name and address -->
    <div class="flex flex-col overflow-hidden">
      <h4 class="site_title text-lg font-bold leading-6 text-gray-900 truncate" >
        {{ name }}
      </h4>
      <div class="site_location_info flex flex-row items-center">
        {{#if county}}
        <a
          class="site_county text-sm font-medium text-black no-underline hover:underline whitespace-nowrap"
          href="{{ countyLink }}"
          >{{ county }}</a>
        {{/if}}
        {{#if address}}
        <span class="address_separator px-2" aria-hidden="true">·</span>
        <a
          class="site_address text-sm text-gray-500 no-underline hover:underline truncate"
          target="_blank"
          rel="noreferrer"
          href="{{addressLink}}"
        >{{address}}</a>
        {{/if}}
      </div>
    </div>
    <!-- Last report on desktop -->
    {{#if hasReport }}
    <div
      class="site_last_report_date text-xs text-black bg-gray-200 px-2 py-1 rounded-full hidden md:flex whitespace-nowrap"
      >{{ lastReportTime  }}</div>
    {{/if}}
  </div>
  {{#if hasReport}}
    <div class="site_report">
      <div class="relative grid grid-cols-12 py-2">
        <div
          class="site_vaccine_status py-2 px-4 h-full text-sm md:text-base space-x-2 border-0 md:border-r border-gray-100 col-span-7 md:col-span-4"
        >
          {{#if hasVaccine}}
          <div class="vaccine_available flex flex-row items-center space-x-2">
            <img src="/assets/img/checkmark.svg" />
            <span class="font-sm font-bold text-green-600"
              >{{ hasVaccineLabel }}</span
            >
          </div>
          {{/if}}

          {{#if noVaccine}}
          <div class="vaccine_not_available flex flex-row items-center space-x-2">
            <img src="/assets/img/missing.svg" />
            <span class="font-sm font-bold text-red-500"
              >{{ noVaccineLabel }}</span
            >
          </div>
          {{/if}}

          {{#if unknownVaccine}}
          <div class="vaccine_unknown flex flex-row items-center space-x-2">
            <img src="/assets/img/question_mark.svg" />
            <span class="font-sm font-bold text-gray-400"
              >{{ unknownVaccineLabel }}</span
            >
          </div>
          {{/if}}
        </div>
      {{#if hasVaccine}}
        <div
          class="site_last_report_date text-xs text-black bg-gray-200 px-2 py-1 rounded-full col-span-5 self-center justify-self-center md:hidden"
          >{{ lastReportTime }}</div>
        <!-- Divider -->
        <div
          class="mobile_divider col-span-12 border-b border-gray-100 my-2 md:hidden"
        ></div>
        <div
          class="site_age_restriction py-2 px-4 h-full flex flex-row items-center text-sm md:text-base border-r border-gray-100 py-2 col-span-6 md:col-span-4"
          >{{ ageRestriction }}</div>
        <div
          class="site_other_restrictions py-2 px-4 h-full flex flex-row items-center text-sm md:text-base col-span-6 md:col-span-4"
          >{{ otherRestrictions }}</div>
        </div>
        {{#if appointmentRequired }}
          <div
            class="site_appointment_required px-4 py-4 flex flex-row items-center border-t border-gray-100 text-sm"
          >
          <div class="mr-2 flex-none"><img src="/assets/img/calendar.svg" /></div>
            <div>
              <span class="font-bold pr-2"
                >{{ appointmentRequiredLabel }}</span
              >
              <span class="site_appointment_details text-black
              word-break">{{{appointmentInstructions}}}</span>
            </div>
          </div>
        {{/if}}
        {{#if majorProviderInfo }}
        <div class="px-4 py-4 flex flex-row items-center border-t border-gray-100 text-sm">
          <span class="font-bold pr-2">{{ majorProviderInfoLabel }}</span>
          <span class="word-break">
            {{{ majorProviderInfo }}}
          </span>
        </div>
        {{/if}}
      {{/if}}
      </div>
      {{#if notes}}
        <div
          class="site_latest_info px-4 py-4 flex flex-row items-center border-t border-gray-100 text-sm"
        >
          <div>
            <span class="font-bold pr-2 flex flex-row">
              <img class="inline pr-2" src="/assets/img/info.svg"
                                       /><div>{{latestNotesLabel}}</div>
            </span>
            <span class="site_latest_info_details text-black
                          word-break">{{{notes}}}</span>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    <div class="site_no_report mt-3 px-2 md:px-4">
      {{ noReports }}
    </div>
  {{/if}}
</li>
